.simula{
    position: fixed;
    top: 40%;
    height: 30px;
    background-color: rgba(76, 160, 83, 0.7);
    z-index: 1000;
    color: white;
    
}

.simula-opened{
    width: 300px;
    transition: all .5s;
    left: 400px;
}
.simula-closed{
    width: 330px;
    transition: all .5s;
    left: -300px;
}