<app-menu></app-menu>

<div class="container">
    <mat-card class="dash-card">
        <mat-card-title>Puxar</mat-card-title>
        <mat-card-content>
            <h1>5</h1>
            <h1>0</h1>
        </mat-card-content>
    </mat-card>

    <mat-card class="dash-card">
        <mat-card-title>Agendados</mat-card-title>
        <mat-card-content>
            <h1>5</h1>
            <h1>0</h1>
        </mat-card-content>
    </mat-card>

    <mat-card class="dash-card">
        <mat-card-title>Documentação</mat-card-title>
        <mat-card-content>
            <h1>5</h1>
            <h1>0</h1>
        </mat-card-content>
    </mat-card>

    <mat-card class="dash-card">
        <mat-card-title>Pesquisa</mat-card-title>
        <mat-card-content>
            <h1>5</h1>
            <h1>0</h1>
        </mat-card-content>
    </mat-card>

    <mat-card class="dash-card">
        <mat-card-title>Mural</mat-card-title>
        <mat-card-content>
            <h1>5</h1>
            <h1>0</h1>
        </mat-card-content>
    </mat-card>
</div>
