
<div class="container">

        <mat-card class="dash-card mat-elevation-z4">
                <mat-card-title>Puxar Leads</mat-card-title>
                <mat-card-content>
                        <div class="leads-label">
                                <h4>Novas</h4>
                                <h1>{{dashInfo.novas || 0}}</h1>
                        </div>
                        <div class="leads-label">
                                <h4>Agendadas</h4>
                                <h1>{{dashInfo.agendaAtiva || 0}}</h1>
                        </div>
                        <button mat-raised-button class="leads-puxar leads-puxar-novas" 
                                *ngIf="dashInfo.novas && dashInfo.agendaAtiva"
                                routerLink="puxar/">
                                <span>PUXAR</span>
                                <mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_right icon">
                                        keyboard_arrow_right
                                </mat-icon>
                        </button>
                        <div class="" *ngIf="!(dashInfo.novas && dashInfo.agendaAtiva)">
                                <h2 class="mat-h2">Não há Leads</h2>
                        </div>
                </mat-card-content>
        </mat-card>

        <mat-card class="dash-card  mat-elevation-z4">
                <mat-card-title>&nbsp;</mat-card-title>
                <mat-card-content>
                        <div class="card-block">
                                <h1 class="display-1">Agendadas:
                                        <span class="text-right text-info">{{dashInfo.agendadas || 0}}</span>
                                </h1>
                        </div>
                        <div class="card-block">
                                <h1 class="display-1">Anuladas Hoje:
                                        <span class="text-right text-danger">{{dashInfo.anuladasDia || 0}}</span>
                                </h1>
                        </div>
                </mat-card-content>
        </mat-card>

        <mat-card class="dash-card mat-elevation-z4">
                <mat-card-title>Documentação</mat-card-title>
                <mat-card-content class="mat-card-content-doc">
                        <div class="card-block-doc">
                                <span class="">Aguardam: </span>
                                <span class="text-right text-info">{{dashInfo.aguardaDoc}}</span>
                        </div>
                        <div class="card-block-doc">
                                <span class="">Atrasada: </span>
                                <span class="text-right text-info">{{dashInfo.docAtrasada}}</span>
                        </div>
                        <div class="card-block-doc">
                                <span class="">Analista: </span>
                                <span class="text-right text-info">{{dashInfo.docAnalista}}</span>
                        </div>
                        <div class="card-block-doc">
                                <span class="">Cliente: </span>
                                <span class="text-right text-info">{{dashInfo.iniPortal}}
                                        / {{+dashInfo.docPortal + +dashInfo.docBPS}}
                                </span>
                        </div>

                </mat-card-content>
        </mat-card>

        <mat-card class="dash-card mat-elevation-z4">
                <mat-card-title>Recuperação</mat-card-title>
                <mat-card-content>
                        <div class="leads-label">
                                <h4>Para Recuperar</h4>
                                <h1>3211</h1>
                        </div>
                        <div class="leads-label">
                                <h4>Em Recuperação</h4>
                                <h1>34</h1>
                        </div>
                        <button  mat-raised-button class="leads-puxar leads-puxar-recuperacao ">
                                <span>RECUPERAR</span>
                                <mat-icon aria-hidden="false" aria-label="Example keyboard_arrow_right icon">
                                        keyboard_arrow_right
                                </mat-icon>
                        </button> 
                </mat-card-content>
        </mat-card>

        <!-- SITUAÇÃO -->
        <div class="dash-div">
                <mat-card class="dash-card mat-elevation-z4">
                        <mat-card-title>Situação</mat-card-title>
                        <mat-card-content class="mat-card-content-doc">

                                <div style="display: block">
                                        <canvas baseChart 
                                                [data]="pieChartData"
                                                [labels]="pieChartLabels"
                                                [chartType]="pieChartType">
                                        </canvas>
                                </div>

                        </mat-card-content>
                </mat-card>

                <mat-card class="dash-card mat-elevation-z4">
                        <mat-card-title>Pesquisa</mat-card-title>
                        <mat-card-content>
                                <form class="search-form">
                                        <mat-form-field class="search-full-width">
                                                <input matInput placeholder="Procurar" value="">
                                        </mat-form-field>

                                        <mat-form-field class="search-full-width">
                                                <mat-label>Por</mat-label>
                                                <mat-select>
                                                        <mat-option *ngFor="let op of ops" [value]="op">
                                                                {{op}}
                                                        </mat-option>
                                                </mat-select>
                                        </mat-form-field>
                                </form>
                        </mat-card-content>
                </mat-card>

                <mat-card class="dash-card dash-card-notifications mat-elevation-z4">
                        <mat-card-title>Alertas e Notificações</mat-card-title>
                        <mat-card-content>

                        </mat-card-content>
                </mat-card>
        </div>

        <mat-card class="dash-card dash-card-mural mat-elevation-z4">
                <mat-card-title>Mural</mat-card-title>
                <mat-card-content>
                        <div class="mat-card-content-mural" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                                <div *ngFor="let msg of muralData" class="d-flex">
                                        <app-mural-dialog [msgObj]="msg" [userId]="userId"></app-mural-dialog>
                                </div>
                        </div>
                        <mat-form-field class="search-full-width">
                                <textarea matInput placeholder="Mensagem" [(ngModel)]="msgToSend"
                                        name="msgToSend"></textarea>
                        </mat-form-field>

                        <mat-form-field class="search-full-width">
                                <mat-label>Enviar para</mat-label>
                                <mat-select [(ngModel)]="selectedMuralUsers" name="users">
                                        <mat-option value=""></mat-option>
                                        <mat-option *ngFor="let u of muralUsers" [value]="u.id">
                                                {{u.nome}}
                                        </mat-option>
                                </mat-select>

                        </mat-form-field>
                        <button *ngIf="selectedMuralUsers" mat-stroked-button color="primary"
                                (click)="sendMsg()">Enviar</button>
                </mat-card-content>
        </mat-card>



</div>