
.container{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    }
.dash-card{
    height: 250px;
    margin: 40px 20px 0 20px;
    flex: 1 0 300px;
}

.dash-card-2x{
    width: 600px;
}

