/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* for sidenav to take a whole page */
html, body { 
    margin: 0;
    height: 100%;
}
@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: 'Roboto, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@import "~@material/animation/variables";

/* Success syling */

.mat-button.mat-success,
.mat-stroked-button.mat-success {
    color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-accent {
  color:#f0e119;
}

.mat-button.mat-accent,
.mat-stroked-button.mat-accent {
    color:  #f0e119;
}
.mat-button.mat-accent:hover,
.mat-stroked-button.mat-accent:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-accent,
.mat-flat-button.mat-accent,
.mat-fab.mat-accent,
.mat-mini-fab.mat-accent {
  color: #f0fff3;
  background-color:  #f0e119;
}

.mat-icon-button.mat-accent {
  color: #f0e119;
}